@charset "UTF-8";

body {
    background: #efefef;
    margin: 0;
    padding: 0;
    text-align: center;
}
#header {
    background: #c56fa6;
    color: #fff;
}
#header h1 {
    margin: 0;
    padding: 1em;
    letter-spacing: 0.1em;
}

#main {
    background: #fff;
    width: 85%;
    height: 100vh;
    margin: 2em auto;
    padding: 2em;
}
#footer {
    background: #000;
    color: #fff;
    font-size: 0.7em;
    margin: 0;
    padding: 2rem;
}
.fadeIn {
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-delay: .5s;
    animation-fill-mode: forwards;
}
@keyframes fadeIn{
    0%{
    opacity: 0;
    }
    100%{
        opacity: 1;
    }
    
}





